<section class="container mt-5">
  <h2>Nuevo artículo</h2>
  <form novalidate [formGroup]="formNewPost" (ngSubmit)="getDataForm()">
    <div class="form-floating my-3">
      <input type="text" id="title" class="form-control" formControlName="title" placeholder="Título">
      <label for="title">Título *</label>
      <p class="text-danger" *ngIf="checkControl('title', 'required')">El campo es obligatorio</p>
      <p class="text-danger" *ngIf="checkControl('title', 'minlength')">El campo debe tener una longitud mínima de 15 caracteres</p>
    </div>
    <div class="form-floating my-3">
      <textarea type="text" id="body" class="form-control" formControlName="body" placeholder="Texto" style="height: 200px"></textarea>
      <label for="body" class="form-label">Texto *</label>
      <p class="text-danger" *ngIf="checkControl('body', 'required')">El campo es obligatorio</p>
    </div>
    <div class="form-floating my-3">
      <input type="text" id="author" class="form-control" formControlName="author" placeholder="Autor">
      <label for="author" class="form-label">Autor *</label>
      <p class="text-danger" *ngIf="checkControl('author', 'required')">El campo es obligatorio</p>
    </div>
    <div class="form-floating my-3">
      <input type="text" id="img" class="form-control" formControlName="img" placeholder="URL de la imagen destacada">
      <label for="img" class="form-label">URL de la imagen (JPG o PNG) destacada *</label>
      <p class="text-danger" *ngIf="checkControl('img', 'required')">El campo es obligatorio</p>
      <p class="text-danger" *ngIf="checkControl('img', 'pattern')">No es una URL válida</p>
    </div>
    <div class="row my-3">
      <div class="col">
        <label for="date" class="form-label">Fecha de publicación *</label>
        <input type="date" id="date" class="form-control" formControlName="date" placeholder="Fecha de publicación">
        <p class="text-danger" *ngIf="checkControl('date', 'required')">El campo es obligatorio</p>
      </div>
      <div class="col">
        <label for="category" class="form-label">Categoría *</label>
        <select name="category" id="category" formControlName="category" class="form-select">
          <option value="" selected>Selecciona una categoría</option>
          <option *ngFor="let category of arrCategories" value="{{category.title}}">{{category.title}}</option>
        </select>
        <p class="text-danger" *ngIf="checkControl('category', 'required')">El campo es obligatorio</p>
      </div>
    </div>
    <input type="submit" class="btn btn-secondary mx-auto d-block my-5 w-25" value="Publicar" [disabled]="!formNewPost.valid">
  </form>
</section>